<div class="clients">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">

        <div class="clients-1-content">
          <h5><%= get_content("#{component}.header") %></h5>
          <div class="row d-flex align-items-center">
            <div class="col-xl-2 offset-xl-1 text-center">
              <%#= image_tag(get_content("#{component}.logo_one")) %>
            </div>
            <div class="col-xl-2 text-center">
              <%#= image_tag(get_content("#{component}.logo_two")) %>
            </div>
            <div class="col-xl-2 text-center">
              <%#= image_tag(get_content("#{component}.logo_three")) %>
            </div>
            <div class="col-xl-2 text-center">
              <%#= image_tag(get_content("#{component}.logo_four")) %>
            </div>
            <div class="col-xl-2 text-center">
              <%#= image_tag(get_content("#{component}.logo_five")) %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
