<div class="closing closing-2">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">

        <div class="closing-2-content">
          <div class="row">
            <div class="col-xl-9">
              <h2><%= get_content("#{component}.header") %></h2>
              <p>
                 <%= get_content("#{component}.sub_header") %>
              </p>
              <a href="#">
                <button type="button" class="btn btn-primary"><%= get_content("#{component}.cta") %></button>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
