<div class="footer footer-2">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">

        <div class="footer-2-content">
          <div class="row">
            <div class="col-xl-4 left">
              © 2017 Netlify
            </div>
            <div class="col-xl-4 middle">
              <a href="#" class="mr-3">Privacy Terms</a>
              <a href="#">Terms of Use</a>
            </div>
            <div class="col-xl-4 right">
              <%= image_tag "facebook_white", class: "d-inline-block mr-3" %>
              <%= image_tag "instagram_white", class: "d-inline-block mr-3" %>
              <%= image_tag "twitter_white", class: "d-inline-block" %>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-xl-12 text-center">
              <a href="#" class="act8">Designed by Actualized8</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
