<div class="hero hero-1" style="background: url(<%= get_content("#{component}.background_image") %>) no-repeat center center;
background-size: cover; position: relative; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">

        <div class="hero-1-content" data-controller="preview">
          <h1 id="hero-header"><%= raw titleize_string(get_content("#{component}.header")) %></h1>
          <p id="hero-subheader">
            <%= simple_format(capitalize_string(get_content("#{component}.sub_header"))) %>
          </p>
          <a href="#">
            <button id="hero-cta" type="button" class="btn btn-primary"><%= get_content("#{component}.cta") %></button>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
