<div class="hero hero-2"
style="background: url(<%= get_content("#{component}.background_image") %>) no-repeat center center;
background-size: cover; position: relative; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">

        <div class="hero-2-content">
          <div class="row">
            <div class="col-xl-10">
              <h1><%= titleize_string(get_content("#{component}.header")) %></h1>
              <p>
                <%# No need to Captalize %>
                <%= get_content("#{component}.sub_header") %>
              </p>
              <a href="/contact">
                <button type="button" class="btn btn-primary"><%= get_content("#{component}.cta") %></button>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
