<h1>Services One</h1>
<%= render "layouts/form/services_one" %>
<h1>Services Two</h1>
<%= render "layouts/form/services_two" %>
<h1>Services Three</h1>
<%= render "layouts/form/services_three" %>
<h1>Services Four</h1>
<%= render "layouts/form/services_four" %>