<h1>Testimonial One</h1>
<%= render "layouts/form/testimonial_one" %>
<h1>Testimonial Two</h1>
<%= render "layouts/form/testimonial_two" %>
<h1>Testimonial Three</h1>
<%= render "layouts/form/testimonial_three" %>