
<div class="closing closing-2">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">

        <div class="closing-2-content">
          <h2>Good Design is Transparent</h2>
          <p>
            Good design should be transparent enough to empower users–to help them
            make informed decisions about their privacy, their browsing habits, and
            more– without overwhelming them.
          </p>
          <a href="#">
            <button type="button" class="btn btn-primary">Work With Us</button>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
