<div class="contents contents-2">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">

        <div class="contents-2-content">
          <div class="row d-flex align-items-center">
            <div class="col-xl-6 col-lg-8 col-md-12">
              <h2>
                Your mission statement<br> or your ultimate value.
              </h2>
              <p>
                Add some more descriptive content here to describe your product or
                service. What your offer is and how you can improve your potential
                customers daily experience. Keep it short and sweet.
              </p>
              <div class="d-flex align-items-center mb-3">
                <i class="fa fa-check" aria-hidden="true"></i><span>We have 98% success rate!</span>
              </div>
              <div class="d-flex align-items-center mb-3">
                <i class="fa fa-check" aria-hidden="true"></i><span>We have a free return policy.</span>
              </div>
              <div class="d-flex align-items-center">
                <i class="fa fa-check" aria-hidden="true"></i><span>We’re a local company.</span>
              </div>
            </div>
            <div class="col-xl-6 col-lg-4 col-md-12 text-center">
              <%= image_tag "content1", class: "img-fluid contents-2-image" %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
