<div class="details-contents">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">

        <div class="details-contact-1">
          <div class="details-contents-header">
            Interested In Our Services? Fill out the form below or give us a
            call and we'll get back to you ASAP with a personalized solution
          </div>
          <form>
            <div class="form-row">
              <div class="form-group col-xl-6 col-lg-6">
                <label>Name</label>
                <input type="input" class="form-control" placeholder="Name">
              </div>
              <div class="form-group col-xl-6 col-lg-6">
                <label>Phone Number</label>
                <input type="phone" class="form-control" placeholder="Phone">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-xl-12">
                <label>Email</label>
                <input type="email" class="form-control" placeholder="Email">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-xl-12">
                <label>Your Message</label>
                <textarea class="form-control" rows="10" cols="80"></textarea>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-xl-12 mt-1">
              <a href="/services">
                <button type="button" class="btn btn-primary">Submit Form</button>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
