<div class="details-contents">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">

        <div class="details-services-1">
          <div class="details-contents-header">
            Alan J. W. Low Inc. offers a broad range of skills, services, and
            resources for both personal or corporate clients. Here are just a
            few ways that we can help:
          </div>
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 service top">
              <div class="card">
                <div class="card-body">
                  <h6>
                    Accounting and Audit
                  </h6>
                  <p>
                    Add some more descriptive content here to describe your
                    product or service.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 service top">
              <div class="card">
                <div class="card-body">
                  <h6>
                    Business & Management Consulting
                  </h6>
                  <p>
                    Add some more descriptive content here to describe your
                    product or service.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 service top">
              <div class="card">
                <div class="card-body">
                  <h6>
                    Corporate Income Tax
                  </h6>
                  <p>
                    Add some more descriptive content here to describe your
                    product or service.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 service top">
              <div class="card">
                <div class="card-body">
                  <h6>
                    Financial Statements
                  </h6>
                  <p>
                    Add some more descriptive content here to describe your
                    product or service.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 service top">
              <div class="card">
                <div class="card-body">
                  <h6>
                     Foreign Property Reporting
                  </h6>
                  <p>
                    Add some more descriptive content here to describe your
                    product or service.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 service top">
              <div class="card">
                <div class="card-body">
                  <h6>
                     Goods & Services Tax
                  </h6>
                  <p>
                    Add some more descriptive content here to describe your
                    product or service.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 service top">
              <div class="card">
                <div class="card-body">
                  <h6>
                     Tax & Estate Planning
                  </h6>
                  <p>
                    Add some more descriptive content here to describe your
                    product or service.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 service">
              <div class="card">
                <div class="card-body">
                  <h6>
                    Trusts (Domestic & Foreign)
                  </h6>
                  <p>
                    Add some more descriptive content here to describe your
                    product or service.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
