<div class="details-contents">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">

        <div class="details-team-1">
          <div class="details-contents-header">
            The Awesome People behind Alan J. W. Low Inc.
          </div>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 member top">
              <div class="card">
                <div class="card-body">
                  <i class="fa fa-user-circle-o member-ava" aria-hidden="true"></i>
                  <h6>
                    Alan J.W. Low, C.A.
                  </h6>
                  <p>
                    Foreign Languages:<br> Cantonese
                  </p>
                  <a href="mailto:alan@lowandco.ca">alan@lowandco.ca</a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 member top">
              <div class="card">
                <div class="card-body">
                  <i class="fa fa-user-circle-o member-ava" aria-hidden="true"></i>
                  <h6>
                    Warren Mui, C.G.A.
                  </h6>
                  <p>
                    Foreign Languages:<br> Cantonese
                  </p>
                  <a href="mailto:warren@lowandco.ca">warren@lowandco.ca</a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 member top">
              <div class="card">
                <div class="card-body">
                  <i class="fa fa-user-circle-o member-ava" aria-hidden="true"></i>
                  <h6>
                    Rebecca Hui, C.G.A.
                  </h6>
                  <p>
                    Foreign Languages:<br> Cantonese & Mandarin
                  </p>
                  <a href="mailto:rebecca@lowandco.ca">rebecca@lowandco.ca</a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 member top">
              <div class="card">
                <div class="card-body">
                  <i class="fa fa-user-circle-o member-ava" aria-hidden="true"></i>
                  <h6>
                    Ivy Chow, C.G.A.
                  </h6>
                  <p>
                    Foreign Languages:<br> Cantonese & Mandarin
                  </p>
                  <a href="mailto:ivy@lowandco.ca">ivy@lowandco.ca</a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 member top">
              <div class="card">
                <div class="card-body">
                  <i class="fa fa-user-circle-o member-ava" aria-hidden="true"></i>
                  <h6>
                     Raymond Au
                  </h6>
                  <p>
                    Foreign Languages:<br> Cantonese & Mandarin
                  </p>
                  <a href="mailto:raymond@lowandco.ca">raymond@lowandco.ca</a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 member top">
              <div class="card">
                <div class="card-body">
                  <i class="fa fa-user-circle-o member-ava" aria-hidden="true"></i>
                  <h6>
                     Cathy Mari
                  </h6>
                  <p>
                    Foreign Languages:<br> Taglog & Cantonese
                  </p>
                  <a href="mailto:cathy@lowandco.ca">cathy@lowandco.ca</a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 member top">
              <div class="card">
                <div class="card-body">
                  <i class="fa fa-user-circle-o member-ava" aria-hidden="true"></i>
                  <h6>
                     Jade Wang
                  </h6>
                  <p>
                    Foreign Languages:<br> Cantonese & Mandarin
                  </p>
                  <a href="mailto:jade@lowandco.ca">jade@lowandco.ca</a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 member top">
              <div class="card">
                <div class="card-body">
                  <i class="fa fa-user-circle-o member-ava" aria-hidden="true"></i>
                  <h6>
                    Christina Hu
                  </h6>
                  <p>
                    Foreign Languages:<br> Cantonese
                  </p>
                  <a href="mailto:christina@lowandco.ca">christina@lowandco.ca</a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 member">
              <div class="card">
                <div class="card-body">
                  <i class="fa fa-user-circle-o member-ava" aria-hidden="true"></i>
                  <h6>
                    Wendy Tang
                  </h6>
                  <p>
                    Foreign Languages:<br> Cantonese
                  </p>
                  <a href="mailto:wandy@lowandco.ca">wandy@lowandco.ca</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
