<div class="features features-3">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">

        <div class="features-3-content">
          <h2>
            Our Services
          </h2>
          <div class="row d-flex align-items-center">
            <div class="col-xl-4">
              <%= image_tag "content2" %>
            </div>
            <div class="col-xl-4">
              <h6>Good Design is Innovative</h6>
              <p class="feature-top-row">
                Add some more descriptive content here
                to describe your product or service. What
                your offer is.
              </p>
              <h6>Good Design is Innovative</h6>
              <p>
                Add some more descriptive content here
                to describe your product or service. What
                your offer is.
              </p>
            </div>
            <div class="col-xl-4">
              <h6>Good Design is Innovative</h6>
              <p class="feature-top-row">
                Add some more descriptive content here
                to describe your product or service. What
                your offer is.
              </p>
              <h6>Good Design is Innovative</h6>
              <p>
                Add some more descriptive content here
                to describe your product or service. What
                your offer is.
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
