<div class="features features-2">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">

        <div class="features-2-content">
          <h2>
            Our Services
          </h2>
          <div class="row">
            <div class="col-xl-4 col-xl-4 col-lg-4 feature">
              <h6>Good Design is Innovative</h6>
              <p>
                Add some more descriptive content here
                to describe your product or service. What
                your offer is.
              </p>
            </div>
            <div class="col-xl-4 col-xl-4 col-lg-4 feature">
              <h6>Good Design is Innovative</h6>
              <p>
                Add some more descriptive content here
                to describe your product or service. What
                your offer is.
              </p>
            </div>
            <div class="col-xl-4 col-xl-4 col-lg-4 feature last">
              <h6>Good Design is Innovative</h6>
              <p>
                Add some more descriptive content here
                to describe your product or service. What
                your offer is.
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
