<div class="footer footer-1">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">

        <div class="footer-1-content">
          <div class="row">
            <div class="col-xl-3">
              <%= image_tag "brand" %>
            </div>
            <div class="col-xl-3">
              <h6>Product</h6>
              <p>
                <a href="#">Why netlify?</a>
                <a href="#">Enterprise</a>
                <a href="#">Security</a>
                <a href="#">Customer Stories</a>
                <a href="#">Demo</a>
              </p>
            </div>
            <div class="col-xl-3">
              <h6>Product</h6>
              <p>
                <a href="#">Why netlify?</a>
                <a href="#">Enterprise</a>
                <a href="#">Security</a>
                <a href="#">Customer Stories</a>
                <a href="#">Demo</a>
              </p>
            </div>
            <div class="col-xl-3">
              <h6>Product</h6>
              <p>
                <a href="#">Why netlify?</a>
                <a href="#">Enterprise</a>
                <a href="#">Security</a>
                <a href="#">Customer Stories</a>
                <a href="#">Demo</a>
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="footer-1-additional">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 left">
        © 2017 Fasken Martineau DuMoulin LLP
      </div>
      <div class="col-xl-4 middle">
        <a href="#">Designed by Actualized8</a>
      </div>
      <div class="col-xl-4 right">
        <a href="#" class="mr-3">Privacy Terms</a>
        <a href="#">Terms of Use</a>
      </div>
    </div>
  </div>
</div>
