<div class="hero hero-2">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">

        <div class="hero-2-content">
          <div class="row">
            <div class="col-xl-10">
              <h1>Tracey Cohen,QC, Admitted to the American College of Trial Lawyers</h1>
              <p>
                Good design should be transparent enough to empower users–to help them
                make informed decisions about their privacy, their browsing habits, and
                more– without overwhelming them.
              </p>
              <a href="#">
                <button type="button" class="btn btn-primary">Work With Us</button>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
