<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a href="#" class="text-decoration-none">
      <h2 class="brand-text"> <%= image_tag "https://actualizer.s3.amazonaws.com/stock/Welding/dnc2.jpg", class: "img-fluid last-client", style:"
    max-width: 165px;" %></h2>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMobile" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMobile">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link active" href="#">Home</a>
        <a class="nav-item nav-link" href="#">Services</a>
        <a class="nav-item nav-link" href="#">Industrial</a>
        <a class="nav-item nav-link" href="#">Commercial</a>
        <a class="nav-item nav-link" href="#">Contact</a>
        <a href="#">
          <button type="button" class="btn btn-primary nav-cta">Work With Us</button>
        </a>
      </div>
    </div>
  </div>
</nav>
