<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a href="#">
      <%= image_tag "brand" %>
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mx-auto">
        <a class="nav-item nav-link active" href="#">Home</a>
        <a class="nav-item nav-link" href="#">Services</a>
        <a class="nav-item nav-link" href="#">Contact</a>
      </div>
    </div>
    <a href="#">
      <button type="button" class="btn btn-primary">Work With Us</button>
    </a>
  </div>
</nav>
