<div class="testimonials testimonials-1">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">

        <div class="testimonials-1-content">
          <div class="row">
            <div class="col-xl-12">
              <h2>Our Clients</h2>
            </div>
          </div>
          <div class="row d-flex align-items-center">
            <div class="col-xl-6 col-lg-8 col-md-12">
              <h3>
                “We’ve seen conversion increases of
                over 70%, just by switching a client’s
                landing page over to Unbounce. We’re
                also able to test and iterate more
                rapidly, which is a win for everyone.”
              </h3>
              <span>
                <strong>Nicholas Scalice</strong>,
                Founder of Earnworthy
              </span>
            </div>
            <div class="col-xl-6 col-lg-4 col-md-12 text-right">
              <%= image_tag "testi_image", class: "img-fluid testimonials-1-image" %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
