<div class="testimonials testimonials-2">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">

        <div class="testimonials-2-content">
          <h2>
            What Our Clients Say
          </h2>
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 testi">
              <i class="fa fa-quote-left" aria-hidden="true"></i>
              <p>
                Sujan is by far the most growth-driven marketer I`ve ever worked
                with. His aggressive go-to-market attitude redefines demand
                generation as a unique competitive advantage for the companies
                he works with, not just a growth strategy.
              </p>
              <div class="d-flex align-items-center">
                <%= image_tag "testi_ava1" %>
                <div>
                  <h6>Nicholas Scalice</h6>
                  Founder of Earnworthy
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 testi last">
              <i class="fa fa-quote-left" aria-hidden="true"></i>
              <p>
                Sujan is by far the most growth-driven marketer I`ve ever worked
                with. His aggressive go-to-market attitude redefines demand
                generation as a unique competitive advantage for the companies
                he works with, not just a growth strategy.
              </p>
              <div class="d-flex align-items-center">
                <%= image_tag "testi_ava1" %>
                <div>
                  <h6>Nicholas Scalice</h6>
                  Founder of Earnworthy
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
