<div class="testimonials testimonials-3">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">

        <div class="testimonials-3-content text-left text-white">
          <h2>What Our Clients Say</h2>
          <h3>
            “We’ve seen conversion increases of over 70%, just by switching a client’s
            landing page over to Unbounce. We’re also able to test and iterate more
            rapidly, which is a win for everyone.”
          </h3>
          <p>
            <strong>Nicholas Scalice</strong><br>
            Founder of Earnworthy
          </p>
          <div>
            <%= image_tag "testi_ava2", class: "d-inline-block" %>
            <%= image_tag "testi_ava2", class: "d-inline-block" %>
            <%= image_tag "testi_ava2", class: "d-inline-block" %>
            <%= image_tag "testi_ava2", class: "d-inline-block" %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
