<div class="hero hero-2">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">

        <div class="hero-2-content text-left text-white">
          <h1><%= get_content("#{component}.header") %></h1>
          <p><%= get_content("#{component}.sub_header") %></p>
          <a href="#">
            <button type="button" class="btn btn-primary"><%= get_content("#{component}.cta") %></button>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
