@import '../global_variables';

// Contents Container
.contents {
  position: relative;
  background: url('clients_bg.jpg') no-repeat center center;
  padding: 5rem 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.contents:before {
  content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: rgba(0,0,0,0);
}

// Contents 1 Specific
.contents-1 {
  background: #FFF;
}
.contents-1-content {
  text-align: center;

  h2 {
    color: #000;
    margin-bottom: 1.5rem;
    line-height: 1.63;
  }
  p {
    color: #7e8085;
    font-weight: 300;
    margin-bottom: 3rem;
    line-height: 1.63;
  }
  div {
    h3 {
      font-size: 3rem;
      color: $brand-primary;
      font-weight: 700;
    }
  }
}
@media(max-width: 991px) {
  .contents-1 {
    padding: 2rem 0;
  }
  .contents-1-content {
    h2 {
      font-size: 36px;
      line-height: 1.4;
    }
    p {
      margin-bottom: 2rem;
    }
    .metric > h3 {
      font-size: 42px
    }
    .metric {
      margin-bottom: 2rem;
    }
    .last.metric {
      margin-bottom: 0;
    }
    br {
      display: none;
    }
  }
}

// Contents 2 Specific
.contents-2 {
  background: #FFF;
  padding: 6rem 0;
}
.contents-2-content {
  text-align: left;

  h2 {
    color: #000;
    margin-bottom: 1.5rem;
    line-height: 1.63;
  }
  p {
    color: #7e8085;
    font-weight: 300;
    margin-bottom: 1.5rem;
    line-height: 1.63;
  }
  div {
    h3 {
      font-size: 3rem;
      color: $brand-primary;
      font-weight: 700;
    }
  }
}
@media(max-width: 991px) {
  .contents-2 {
    padding: 2rem 0;
  }
  .contents-2-content {
    h2 {
      font-size: 36px;
      line-height: 1.4;
    }
    .contents-2-image {
      margin-top: 2rem;
    }
  }
}
