@import '../global_variables';

.features {
  position: relative;
  background: url('clients_bg.jpg') no-repeat center center;
  padding: 3rem 0;
}

.features:before {
  content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  // background: $hero-bg-overlay;
}

.features-1 {
  background: #FFF;
}

.features-2 {
  background: #FFF;
}

.features-3 {
  background: #FFF;
}

.features-4 {
  background: #FFF;
  padding: 5rem 0 6rem;

  a {
    display: inline-block;
    margin-top: 2rem;
  }
}

.features-1-content {
  h2 {
    color: $brand-primary;
    margin-bottom: 3rem;
    line-height: 1.63;
  }
  h6 {
    margin-bottom: 0.7rem;
  }
  p {
    color: #7e8085;
    font-weight: 300;
    line-height: 1.63;
  }
  .feature-top-row {
    margin-bottom: 3rem;
  }
}

.features-2-content {
  h2 {
    color: $brand-primary;
    margin-bottom: 3rem;
    line-height: 1.63;
  }
  h6 {
    margin-bottom: 0.7rem;
  }
  p {
    color: #7e8085;
    font-weight: 300;
    line-height: 1.63;
  }
  .feature-top-row {
    margin-bottom: 3rem;
  }
}

.features-2-content {
  h2 {
    color: $brand-primary;
    margin-bottom: 3rem;
    line-height: 1.63;
  }
  h6 {
    margin-bottom: 0.7rem;
  }
  p {
    color: #7e8085;
    font-weight: 300;
    line-height: 1.63;
  }
  .feature-top-row {
    margin-bottom: 3rem;
  }
}

.features-3-content {
  h2 {
    color: $brand-primary;
    margin-bottom: 3rem;
    line-height: 1.63;
  }
  h6 {
    margin-bottom: 0.7rem;
  }
  p {
    color: #7e8085;
    font-weight: 300;
    line-height: 1.63;
  }
  .feature-top-row {
    margin-bottom: 3rem;
  }
}

.features-4-content {
  text-align: center;

  h2 {
    color: #000;
    margin-bottom: 3rem;
    line-height: 1.63;
    text-align: center;
  }
  h6 {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 18px;
    color: $brand-primary;
  }
  p {
    color: #7e8085;
    font-weight: 300;
    line-height: 1.63;
    text-align: center;
  }
  .feature-top-row {
    margin-bottom: 3rem;
  }
}
