@import '../global_variables';

.fa-check {
  font-size: 20px !important;
  display: inline-block;
  color: $brand-primary;
  margin-right: 0.5rem;
}

.fa-quote-left {
  font-size: 24px !important;
  display: inline-block;
  color: $brand-primary;
}
