@import '../global_variables';

// Top Nav
.top-nav {
  background: #4A5C5B;
  color: #FFF;
  padding: 0.5rem;
}
.top-nav-icon {
  display: inline-block;
  color: $brand-primary;
  margin-right: 0.2rem;
}
.top-nav-hours {
  text-align: left;
}
.top-nav-contacts {
  text-align: right
}
.top-nav-contact {
  display: inline-block;
  margin-right: 1rem;
}
.top-nav-contact:last-child {
  margin-right: 0;
}

@media(max-width: 991px) {
  .top-nav-hours, .top-nav-contacts {
    text-align: center;
  }
}

// Container
.navbar {
  min-height: 100px;
  background: #FFF;
  background-color: #FFF;
}

// Brand IMG
// Use if image is a Tall, Vertical Rectangle
.brand-img-tall {
  height: 40px;
  width: auto;
}
// Use if image is a Wide, Horizontal Rectangle
.brand-img-wide {
  height: auto;
  width: 150px;
}
// Use no class if image is Squared or Small

// Brand Text Fallback
.brand-text {
  color: $brand-primary;
  font-weight: 600;
  margin-bottom: 0;
  text-decoration: none;
}

// Links
.nav-link {
  margin-right: $nav-link-margin-right;
  font-weight: $nav-link-font-weight;
  padding-top: $nav-link-padding-top;
}

@media(max-width: 991px) {
  .navbar {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .navbar-nav {
    margin-top: 1rem;
  }
  .nav-cta {
    margin-left: 0;
    margin-top: 1rem;
  }
}
