@import '../global_variables';

// Container
.navbar {
  min-height: 100px;
  background: #FFF;
  background-color: #FFF;
}

// Links
.nav-link {
  margin-right: 1.2rem;
  font-weight: 500;
  padding-top: 0.7rem;
}

// CTA
.btn-primary {
  padding: 0.6rem 1.8rem 0.5rem;
  background-color: #134DAB;
  border-color: #134DAB;
}
.nav-cta {
  margin-left: 0.3rem;
}

// Responsiveness
@media(max-width: 991px) {
  .navbar {
    padding: 2rem 1rem;
  }
  .navbar-nav {
    margin-top: 1rem;
  }
  .nav-cta {
    margin-left: 0;
    margin-top: 1rem;
  }
}
