@import '../global_variables';

.navbar {
  height: 100px;
  background: #FFF;
  background-color: #FFF;
}

.nav-link {
  margin-right: 1.2rem;
  font-weight: 500;
  padding-top: 0.7rem;
}

.btn-primary {
  padding: 0.6rem 1.8rem 0.5rem;
  background-color: #134DAB;
  border-color: #134DAB;
}
