/* Default Values  */
/*------------------------------------------------*/
$def-brand-primary: #134DAB;
$def-cta-padding: 0.6rem 1.8rem 0.5rem;
$def-cta-text-transform: capitalize;
$def-cta-font-weight: 400;
$def-font: 'Poppins', sans-serif;
$nav-link-padding-top: 0.7rem;

/* Law Theme Variables  */
/*------------------------------------------------*/
$law-brand-primary: #143d65;
$law-border-radius: 0px;
$law-cta-padding: 0.6rem 1.5rem 0.7rem 1.4rem;
$law-cta-text-transform: capitalize;
$law-cta-font-weight: 500;
$law-font: 'Literata', sans-serif;
$law-nav-link-padding-top: 0.7rem;
$law-hero-padding: 6rem 0;

/* Finance Theme Variables  */
/*------------------------------------------------*/
$finance-brand-primary: #00b16a;
$finance-border-radius: 5px;
$finance-cta-padding: 0.5rem 1.5rem;
$finance-cta-text-transform: capitalize;
$finance-cta-font-weight: 500;
$finance-font: 'Poppins', sans-serif;
$finance-nav-link-padding-top: 0.6rem;
$finance-hero-padding: 8rem 0;

/* Trades Theme Variables  */
/*------------------------------------------------*/
$trades-brand-primary: #187ec1;
$trades-border-radius: 0;
$trades-cta-padding: 0.7rem 1.7rem;
$trades-cta-text-transform: uppercase;
$trades-cta-font-weight: 600;
$trades-font: 'Roboto', sans-serif;
$trades-nav-link-padding-top: 0.8rem;
$trades-hero-padding: 10rem 0;
