@import "components/theme_variables";

$details-header-padding: $finance-details-header-padding;
$body-padding-top: $finance-body-padding-top;

/* Global Variables */
/*------------------------------------------------*/
/* Law Template --------------------------------- */
// $brand-primary: $finance-brand-primary;
// $brand-primary-darkened: $finance-brand-primary;
// $cta-background-color: $brand-primary; //Don't modify
// $cta-hover-color: $brand-primary-darkened; //Don't modify
// $cta-padding: $finance-cta-padding;
// $cta-border-radius: $finance-border-radius;
// $cta-text-transform: $finance-cta-text-transform;
// $cta-font-weight: $finance-cta-font-weight;
// $cta-border-width: 2px;
// $cta-left-margin: 0.6rem;
// $brand-font: $finance-font;
// $nav-link-margin-right: 1.2rem;
// $nav-link-font-weight: 500;
// $nav-link-padding-top: $finance-nav-link-padding-top;
// $hero-container-padding: $finance-hero-padding;
/* Law Template --------------------------------- */


/* Finance Template ----------------------------- */
// $brand-primary: $finance-brand-primary;
// $brand-primary-darkened: $finance-brand-primary;
// $cta-background-color: $brand-primary; //Don't modify
// $cta-hover-color: $brand-primary-darkened; //Don't modify
// $cta-padding: $law-cta-padding;
// $cta-border-radius: $law-border-radius;
// $cta-text-transform: $law-cta-text-transform;
// $cta-font-weight: $law-cta-font-weight;
// $cta-border-width: 2px;
// $cta-left-margin: 0.6rem;
// $brand-font: $law-font;
// $nav-link-margin-right: 1.2rem;
// $nav-link-font-weight: 500;
// $nav-link-padding-top: $law-nav-link-padding-top;
// $hero-container-padding: $law-hero-padding;
/* Law Template --------------------------------- */


/* Finance Template ----------------------------- */
$brand-primary: $finance-brand-primary;
$brand-primary-darkened: $finance-brand-primary;
$cta-background-color: $brand-primary; //Don't modify
$cta-hover-color: $brand-primary-darkened; //Don't modify
$cta-padding: $finance-cta-padding;
$cta-border-radius: $finance-border-radius;
$cta-text-transform: $finance-cta-text-transform;
$cta-font-weight: $finance-cta-font-weight;
$cta-border-width: 2px;
$cta-left-margin: 0.6rem;
$brand-font: $finance-font;
$nav-link-margin-right: 1.2rem;
$nav-link-font-weight: 500;
$nav-link-padding-top: $finance-nav-link-padding-top;
$hero-container-padding: $finance-hero-padding;
/* Finance Template ----------------------------- */


/* Trades Template ----------------------------- */
// $brand-primary: $trades-brand-primary;
// $brand-primary-darkened: $trades-brand-primary;
// $cta-background-color: $brand-primary; //Don't modify
// $cta-hover-color: $brand-primary-darkened; //Don't modify
// $cta-padding: $trades-cta-padding;
// $cta-border-radius: $trades-border-radius;
// $cta-text-transform: $trades-cta-text-transform;
// $cta-font-weight: $trades-cta-font-weight;
// $cta-border-width: 2px;
// $cta-left-margin: 0.6rem;
// $brand-font: $trades-font;
// $nav-link-margin-right: 1.2rem;
// $nav-link-font-weight: 500;
// $nav-link-padding-top: $trades-nav-link-padding-top;
// $hero-container-padding: $trades-hero-padding;
/* Trades Template ----------------------------- */
